@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");

li{
    list-style-type: disc;
    color:rebeccapurple
}

:focus {
    outline: none;
}
input[type="text"] {
font: 15px/24px "Muli", sans-serif;
color: #333;
width: 100%;
box-sizing: border-box;
letter-spacing: 1px;

}

.effect{
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.wordbar{
    position: relative;
    width:100px;
    margin:0 10px;
    display: inline-block;
}

.effect ~.focus_border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
  }

.effect:focus ~ .focus_border{
width: 100%;
transition: 0.4s;
}
